GROUP 8 PARTCIPANTS
Rachael Henry 
Uchenna Okafor 
Olaitan Suru 
Jesu-Ebinimiedo Alagha 
Modupe Olumade 
Ooreoluwa Olusegun 
Freda Addo 
Hannah Atere 
Esther Adegbami

#  1)Print the First 10 natural numbers

In [3]:
i = 1

while(i <= 10):
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

# 2)print("====The First 10 Natural Numbers====")]

In [1]:
print("====The First 10 Natural Numbers====")
i = 1

while(i <= 10):
    print(i)
    i = i + 1

====The First 10 Natural Numbers====
1
2
3
4
5
6
7
8
9
10

# 3)Count the total number of digits in a number

In [14]:
num = 23678905
count = 0
while(num>0):
    count=count+1
    num=num//10
print("The number of digits in the number are:",count)

The number of digits in the number are: 8

# 4)Write a program to display all prime numbers within a range

In [28]:
lowest = 200
highest = 400
print("Prime numbers between", lowest, "and", highest, "are:")
        
for num in range(lowest, highest + 1):
     if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Prime numbers between 200 and 400 are:
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397

# 5) Write a program to print a multiplication table of a given number

In [31]:
num = 24
for i in range(1, 11):
    print(num*i)

24
48
72
96
120
144
168
192
216
240